@import '@pluralsight/ps-design-system-core';

.error-display {
  background: var(--psColorsGray06);
  color: var(--psColorsGray02);
  height: 100vh;
}

.error-display__header {
  padding: 30px 40px;
}

.error-display__brand {
  display: block;
  text-transform: uppercase;
  @include font-size(15px);
  font-weight: 300;
  letter-spacing: 0.15em;
  color: var(--psColorsWhite);

  &:hover {
    text-decoration: none;
    color: var(--psColorsWhite);
  }
}

.error-display__content {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform( translate(-50%, -50%) );
  text-align: right;
  width: 1000px;
  min-height: 370px;
  padding-top: 50px;
  padding-left: 300px;
  background-image: url('../images/errors/zombie-light.png');
  background-repeat: no-repeat;
}

.error-display__title {
  font-weight: 100;
  color: var(--psColorsBone);
  margin-bottom: 42px;
}

.error-display__copy {
  @include font-size(18px);
  font-weight: 100;
  margin-bottom: 42px;
  color: var(--psColorsGray03);
}

.error-display__form {
  position: relative;
  border: 1px solid var(--psColorsWhite);
  border-radius: 2px;
  width: 320px;
  height: 40px;
  padding: 5px;
  float: right;
}

.error-display__form-input {
  background: var(--psColorsGray06);
  border: none;
  height: 100%;
  width: calc(100% - 50px);
  padding-left: 10px;
  padding-right: 40px;
  color: var(--psColorsWhite);

  &:focus {
    outline-color: var(--psColorsGray06);
  }
}

.error-display__form-submit {
  background: none;
  border: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  position: absolute;
  top: 9px;
  right: 10px;
}

.error-display__form-icon {
  font-size: 20px;
}
